<%= form_for User.new, url: sessions_path, method: :post do |f| %>

  <%= f.label :username, 'Username: ' %><br>
  <%= f.text_field :username %><br>

  <%= f.label :password, 'Password: ' %><br>
  <%= f.password_field :password %><br>

  <%= f.submit 'Login' %>

<% end %>

Available users:
<ul>
	<li>user1: 123456</li>
	<li>user2: 123456</li>
	<li>user3: 123456</li>
</ul>


<%= link_to 'Or Register', new_user_path %>