<!DOCTYPE html>
<html>
  <head>
    <title>Live Messaging Demo</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h3>Live Messaging Demo via Rails 5 ActionCable</h3>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
